.CodeMirror {
    height:auto !important;
    outline: 0 none;
    overflow: auto;
    position: relative;
}

.centeredColumn {
   text-align:center !important;
}

.topAligned {
    vertical-align: top;
}
.nopadding{
	padding:0 !important;
}

#form:panelRegla_content{
	
	padding:0 !important;
}
#form:panelRegla{
	
	padding:0 !important;
}
.CodeMirror-scroll {
    height: auto !important;
    outline: 0 none;
    overflow: auto;
    position: relative;
}
.ui-layout-unit {
    visibility: visible !important;
}

.ui-widget, .ui-widget .ui-widget {
font-size: 99% !important;
}
.body{
font-family: 'Tangerine', serif;
}

.span12 {
  width: 940px;
}

.span11 {
  width: 860px;
}

.span10 {
  width: 780px;
}

.span9 {
  width: 700px;
}

.span8 {
  width: 620px;
}

.span7 {
  width: 540px;
}

.span6 {
  width: 460px;
}

.span5 {
  width: 380px!important;
}

.span4 {
  width: 300px!important;
}

.span3 {
  width: 220px!important;
}

.span2 {
  width: 140px!important;
}

.span1 {
  width: 60px!important;
}

.offset12 {
  margin-left: 980px;
}

.offset11 {
  margin-left: 900px;
}

.offset10 {
  margin-left: 820px;
}

.offset9 {
  margin-left: 740px;
}

.offset8 {
  margin-left: 660px;
}

.offset7 {
  margin-left: 580px;
}

.offset6 {
  margin-left: 500px;
}

.offset5 {
  margin-left: 420px;
}

.offset4 {
  margin-left: 340px;
}

.offset3 {
  margin-left: 260px;
}

.offset2 {
  margin-left: 180px;
}

.offset1 {
  margin-left: 100px;
}
.backgroundcolorheader .ui-layout-unit-content{
   background: #424548;
}

.ui-state-highlight .ui-icon {
	background-image: url("/context-management-web/faces/javax.faces.resource/images/ui-icons_333333_256x240.png?ln=primefaces-bootstrap");
}

div[id="codeMirrorForm:growlCenter_container"] {
    position:absolute;
    top:20px;
    left:40%;
}
