.CodeMirror {
    height:auto !important;
    outline: 0 none;
    overflow: auto;
    position: relative;
}

.ui-layout-unit {
    visibility: visible !important;
}

.ui-widget, .ui-widget .ui-widget {
font-size: 99% !important;
}
.body{
font-family: 'Tangerine', serif;
}

